h1 {
  color: #03045e;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

form {
  background-color: #90e0ef;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

specs {
  color: rgb(54, 66, 70);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  display: block;
  padding: 10px;
  margin-top: 15px;
}

link {
  margin-top: 15px;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #278096;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.myButton:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.myButton:active {
  position: relative;
  top: 1px;
}
